@keyframes shake-animation {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(1px); }
  50% {
    transform: translateX(-1px); }
  75% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0); } }

@keyframes transform {
  100% {
    transform: translateX(-140%) rotate(360deg); } }

/*Animation to hide the loader
        changes the visibility to hidden 
        by decriesing the size*/
@keyframes loader-hide {
  to {
    visibility: hidden;
    width: 0;
    height: 0; } }

/*Animation to rotate the loader*/
@keyframes loading {
  from {
    transform: rotate(0turn); }
  to {
    transform: rotate(1turn); } }

@keyframes dish {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  30% {
    opacity: 0;
    transform: translateY(-90%); }
  60% {
    opacity: 0;
    transform: translateY(-80%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-out {
  100% {
    opacity: 0; }
  0% {
    opacity: 1; } }

@keyframes bounce {
  30% {
    transform: scale(1.1); }
  40%, 60% {
    transform: rotate(-5deg) scale(1.1); }
  50% {
    transform: rotate(5deg) scale(1.1); }
  70% {
    transform: rotate(0deg) scale(1.1); }
  100% {
    transform: scale(1); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; }

footer {
  background-color: #343434;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: none; }
  footer .footer-logo {
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    text-decoration: none;
    text-decoration: none;
    color: white;
    transition: 0.5s; }
    footer .footer-logo:hover {
      color: #e4cdff; }
  footer .footer-list {
    padding-top: 20px; }
    footer .footer-list i {
      font-size: 12px;
      padding-right: 7px; }
    footer .footer-list li {
      list-style: none;
      color: inherit; }
    footer .footer-list a {
      color: inherit;
      text-decoration: none;
      font-size: 14px;
      font-weight: thick;
      transition: 0.5s; }
      footer .footer-list a:hover {
        color: #e4cdff; }

header .headerInfo .headerInfo-btn {
  height: 50px;
  width: 60%;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  color: white;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: #9356dc;
  background: linear-gradient(6deg, #9356dc 0%, #c767db 57%, #ff79da 100%);
  transition: all 0.5s; }
  header .headerInfo .headerInfo-btn:hover {
    opacity: 0.85;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }

main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move {
  border: none;
  background-color: inherit;
  position: relative;
  font-size: 1.5rem;
  height: fit-content; }
  main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move .heartMove_top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fade-in 0.2s forwards; }
  main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move:focus .heartMove_bottom, main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move:hover .heartMove_bottom, main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move:active .heartMove_bottom {
    visibility: collapse; }
  main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move:focus .heartMove_top, main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move:hover .heartMove_top, main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move:active .heartMove_top {
    display: initial; }
  main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move .far {
    display: block;
    color: #343434; }
  main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move .fas {
    display: block;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shake-animation 0.3s ease-in-out 0s 1;
    animation-fill-mode: both;
    transform-origin: 50% 50%; }

footer {
  background-color: #343434;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: none; }
  footer .footer-logo {
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    text-decoration: none;
    text-decoration: none;
    color: white;
    transition: 0.5s; }
    footer .footer-logo:hover {
      color: #e4cdff; }
  footer .footer-list {
    padding-top: 20px; }
    footer .footer-list i {
      font-size: 12px;
      padding-right: 7px; }
    footer .footer-list li {
      list-style: none;
      color: inherit; }
    footer .footer-list a {
      color: inherit;
      text-decoration: none;
      font-size: 14px;
      font-weight: thick;
      transition: 0.5s; }
      footer .footer-list a:hover {
        color: #e4cdff; }

/* {
   outline: solid 1px red;
}*/
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  /*Loader position*/ }
  body .loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 4;
    opacity: 0.9;
    /*Animation to hide the loader class
        with 0s durantion and 2s delay*/
    animation: loader-hide 0s 2s;
    animation-fill-mode: forwards;
    /*Loader element*/ }
    body .loader::after {
      content: "";
      width: 150px;
      height: 150px;
      border: 15px solid #dddddd00;
      border-radius: 50%;
      border-top-color: #9356DC;
      border-bottom-color: #9356DC;
      animation: loading linear 1s infinite; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  header .headerLogo {
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0 4px 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    @media (min-width: 800px) {
      header .headerLogo img {
        width: 110%;
        margin: 4% 0 0 0; } }
  header .header-pin {
    width: 100%;
    height: 60px;
    background-color: #eeeeee;
    color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    header .header-pin p {
      margin-left: 20px;
      font-size: 16px; }
    @media (min-width: 800px) {
      header .header-pin p {
        font-size: 24px; } }
    header .header-pin i,
    header .header-pin p {
      display: inline-block;
      background-color: #eeeeee; }
  header .headerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 35px;
    width: 100%;
    height: 300px;
    background-color: #f9f9f9;
    color: #343434; }
    header .headerInfo .headerInfo-book {
      font-size: 24px;
      font-weight: bold; }
    header .headerInfo .headerInfo-discover {
      text-align: center;
      font-size: 17px;
      font-weight: 200; }
    header .headerInfo #headerInfo-btn {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: none; }
    @media (min-width: 800px) {
      header .headerInfo {
        row-gap: 16px; }
        header .headerInfo .headerInfo-book {
          font-size: 40px; }
        header .headerInfo .headerInfo-discover {
          font-size: 25px; } }

main .mainInstruction-text {
  font-size: 24px;
  font-weight: bold;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  color: #343434; }

@media (min-width: 800px) {
  main .mainInstruction-text {
    margin-left: 6%; } }

main .mainInstruction-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 7%;
  margin-right: 4%; }
  main .mainInstruction-btn .mainInstruction-btn_design button,
  main .mainInstruction-btn .mainInstruction-btn_design p {
    display: inline-block;
    color: #343434; }
  main .mainInstruction-btn .mainInstruction-btn_design button {
    background-color: #f9f9f9;
    height: 70px;
    width: 90vw;
    padding-left: 5px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 0.8s; }
    main .mainInstruction-btn .mainInstruction-btn_design button i {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      padding-left: 30px;
      color: #5f5f5f; }
    main .mainInstruction-btn .mainInstruction-btn_design button .btn_name {
      position: relative;
      display: flex;
      justify-content: flex-start;
      padding-left: 60px; }
    main .mainInstruction-btn .mainInstruction-btn_design button:hover {
      background-color: #efe1ff;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
      main .mainInstruction-btn .mainInstruction-btn_design button:hover i {
        color: #9356dc; }
  main .mainInstruction-btn .mainInstruction-btn_design p {
    position: absolute;
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50px;
    background-color: #9356DC;
    color: white;
    padding-left: 8px;
    padding-top: 1px;
    margin-top: 42.5px;
    margin-left: -10px; }

@media (min-width: 800px) {
  main .mainInstruction-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 3%; }
    main .mainInstruction-btn .mainInstruction-btn_design {
      padding-left: 0; }
      main .mainInstruction-btn .mainInstruction-btn_design button {
        width: 27vw; } }

main .mainRestaurants {
  background: #f9f9f9;
  width: 100%; }
  main .mainRestaurants .mainRestaurants-title {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #343434; }
  @media (min-width: 800px) {
    main .mainRestaurants .mainRestaurants-title {
      margin-left: 6%; } }
  main .mainRestaurants .mainRestaurants_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design {
      margin-bottom: 20px;
      border-radius: 15px;
      height: 220px;
      width: 90%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      position: relative;
      transition: 0.5s; }
    @media (min-width: 800px) {
      main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design {
        width: 40%;
        height: 350px; } }
    main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design:hover {
      box-shadow: 0 8px 16px 0 rgba(99, 99, 99, 0.4); }
    main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design a:link {
      text-decoration: none; }
    main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design a:visited {
      text-decoration: none; }
    main .mainRestaurants .mainRestaurants_card img {
      height: 150px;
      width: 100%;
      object-fit: cover;
      position: relative;
      border-radius: 15px 15px 0 0;
      top: 0;
      left: 0; }
    @media (min-width: 800px) {
      main .mainRestaurants .mainRestaurants_card img {
        height: 280px; } }
    main .mainRestaurants .mainRestaurants_card .card-label {
      position: absolute;
      z-index: 3;
      top: 5%;
      left: 70%; }
      main .mainRestaurants .mainRestaurants_card .card-label button {
        background-color: #99E2D0;
        color: #1b6150;
        border: none;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        animation: bounce 1s ease infinite; }
    main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-left: 15px;
      padding-top: 5px;
      color: #343434;
      overflow: hidden; }
      main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move {
        top: -40px;
        left: 85%; }
      @media (min-width: 800px) {
        main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .heart-move {
          top: -35px;
          left: 85%; } }
      main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .card-restaurant-name {
        font-weight: bold;
        font-size: 18px; }
      main .mainRestaurants .mainRestaurants_card .mainRestaurants_card-design-txt .card-restaurant-place {
        font-weight: 200;
        font-size: 17px; }
  @media (min-width: 800px) {
    main .mainRestaurants .mainRestaurants_card {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 3%;
      padding: 0 4.8% 0 4.8%; } }

@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #343434;
    color: white;
    padding-right: 10%;
    padding-left: 15%;
    padding-bottom: 5%;
    text-decoration: none; }
    footer .footer-logo {
      font-family: "Shrikhand", cursive;
      font-size: 24px;
      text-decoration: none;
      margin-top: 22px;
      color: white;
      transition: 0.5s; }
      footer .footer-logo:hover {
        color: #e4cdff; }
    footer .footer-list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-grow: 2; }
      footer .footer-list i {
        font-size: 16px;
        padding-right: 7px; }
      footer .footer-list li {
        list-style: none;
        color: inherit; }
      footer .footer-list a {
        color: inherit;
        text-decoration: none;
        font-size: 18px;
        font-weight: thick;
        transition: 0.5s; }
        footer .footer-list a:hover {
          color: #e4cdff; } }
