@import "./_reset";
@import "./_variable";
@import "./_mixins";
@import "./_button";
@import "./_keyframes";
@import "./_footer";

body {
    font-family: $text-font;
    line-height: 1.5;
}

#Bst {
    @include desktop {
        background-image: url("../image/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 195%;
        background-position: 10%;
    }
}

#Encp {
    @include desktop {
        background-image: url("../image/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: 10%;
    }
}

#Flpl {
    @include desktop {
        background-image: url("../image/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 195%;
        background-position: 20%;
    }
}

#Lgrm {
    @include desktop {
        background-image: url("../image/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 190%;
        background-position: 20%;
    }
}

header {
    //Arrow and Logo position
    .header-logoArrow {
        @include center-flex(row);
        width: 100%;
        height: 60px;
        //padding-top: 3%;
        //padding-bottom: 2%;
        padding-left: 5%;
        justify-content: center;
        
        i {
            font-size: 20px;
            text-decoration: none;
            color: $dark-grey;
            left: 0;
            position: absolute;
            top: 20px;
            padding-left: 10px;
            
        }
        img {
            width: 110%;
            margin: 4% 0 0 0;
        }
    }
}

//Background position
.header_img {
    visibility: visible;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 300px;
}

@include desktop {
    .header_img {
        visibility: collapse;
    }
}

//Container Restaurant Menu
.restaurant_page {
    background-color: $light-grey;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -10vh;
    width: 100%;

    //Restuarant Title and heart icon position
    .restaurant_name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 5%;
        padding-top: 5%;
        padding-right: 5%;

        p {
            flex: 3;
            font-family: $title-font;
            font-size: $large-font;
        }

        @extend %heart_icon;
    }

    .restaurant_menu {
        @include start-flex(column);
        padding-left: 5%;
        position: relative;

        .restaurant_menu-section {
            width: 95%;

            .restaurant_menu-section-name {
                animation-duration: 0.65s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                opacity: 0;
                animation-name: dish;

                p {
                    font-size: $medium-thin-font;
                    font-weight: 200;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        position: relative;
                        width: 2rem;
                        border: 1.5px solid $tertiary-color;
                        margin-top: 0.5%;
                        transition: 0.5s;
                    }

                    &:hover:after {
                        width: 5rem;
                    }
                }
            }
        }

        .restaurant_menu-section-card {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0 10px 0px;
            background: white;
            margin-bottom: 10px;
            border-radius: 12px;
            height: 65px;
            width: 100%;
            overflow: hidden;
            position: relative;
            transition: 0.5s;
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            align-items: center;

            animation-duration: 0.65s;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            opacity: 0;
            animation-name: dish;

            i {
                position: absolute;
                z-index: 3;
                right: 0%;
                color: white;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-fill-mode: forwards;
                opacity: 0;
            }
            &:hover {
                padding-right: 12%;
            }
            &:hover i {
                animation-name: transform;
                opacity: 1;
            }

            &::before {
                content: "";
                position: absolute;
                left: 100%;
                width: 100%;
                height: 65px;
                background: $tertiary-color;
                transition: 0.5s;
                z-index: 2;
            }

            &:hover::before {
                left: 80%;
            }

            .menu_plate-name {
                padding: 10px 0 10px 0;
                margin-left: 15px;
                //DOTS OVERFLOW
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                grid-area: 1 / 1 / 3 / 2;
                position: relative;

                .dish-name {
                    font-weight: 400;
                }
                .dish-ingridients {
                    font-weight: 100;
                    font-size: 15px;
                }
            }

            .menu_plate-price {
                position: relative;
                grid-area: 1 / 2 / 3 / 3;
            }
        }

        #card-1 {
            animation-delay: 0s;
        }
        #card-2 {
            animation-delay: 0.05s;
        }
        #card-3 {
            animation-delay: 0.1s;
        }
        #card-4 {
            animation-delay: 0.15s;
        }
        #card-5 {
            animation-delay: 0.2s;
        }
        #card-6 {
            animation-delay: 0.25s;
        }
        #card-7 {
            animation-delay: 0.3s;
        }
        #card-8 {
            animation-delay: 0.35s;
        }
        #card-9 {
            animation-delay: 0.4s;
        }

        #card-10 {
            animation-delay: 0.45s;
        }
        #card-11 {
            animation-delay: 0.5s;
        }
        #card-12 {
            animation-delay: 0.55s;
        }

        #card-13 {
            animation-delay: 0.6s;
        }
    }
}

@include desktop {
    .restaurant_page {
        margin-left: 8%;
        width: 50%;
        margin-top: -270px;
    }
}

.menu-order_button {
    @include center-flex(column);
    padding-top: 30px;
    padding-bottom: 50px;
    animation-duration: 0.65s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: dish;
    button {
        @extend %pink-button;
    }
}

footer {
    @extend %footer-allpages;
}

@include desktop {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: $dark-grey;
        color: white;
        padding-right: 10%;
        padding-left: 15%;
        padding-bottom: 5%;
        text-decoration: none;

        //Footer logo design
        .footer-logo {
            font-family: $title-font;
            font-size: 24px;
            text-decoration: none;
            margin-top: 22px;
            color: white;
            transition: 0.5s;
            &:hover {
                color: #e4cdff;
            }
        }

        //Footer list design with icons
        .footer-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 2;
            //column-gap: 1%;

            //padding-top: 20px;
            i {
                font-size: 16px;
                padding-right: 7px;
            }
            li {
                list-style: none;
                color: inherit;
            }
            a {
                color: inherit;
                text-decoration: none;
                font-size: 18px;
                font-weight: thick;
                transition: 0.5s;
                &:hover {
                    color: #e4cdff;
                }
            }
        }
    }
}
