@import "./_reset";
@import "./_variable";
@import "./_mixins";
@import "./_button";
@import "./_keyframes";
@import "./_footer";

body {
    font-family: $text-font;
    line-height: 1.5;
}

header {
    //Arrow and Logo position
    .header-logoArrow {
        @include center-flex(row);
        width: 100%;
        height: 7vh;
        padding-top: 3%;
        padding-bottom: 2%;
        //padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        column-gap: 10%;
        i {
            flex: content;
            font-size: 20px;
            text-decoration: none;
            color: $dark-grey;
        }
        img {
            flex-grow: 3;
            max-width: 170px;
        }
    }

    @include desktop {
        .header-logoArrow {
            i {
                font-size: 30px;
            }
            img {
                max-width: 350px;
            }
        }
    }
}

//.bst{
//    visibility: collapse;
//}

@include desktop {
    .bst {
        //visibility: visible;
        background-image: url("/image/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: 20%;
    }
}

//Background position
.header_img {
    visibility: visible;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 300px;
}

@include desktop {
    .header_img {
        visibility: collapse;
    }
}

//Container Restaurant Menu
.restaurant_page {
    background-color: $light-grey;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -10vh;
    width: 100%;

    //Restuarant Title and heart icon position
    .restaurant_name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 5%;
        padding-top: 5%;

        p {
            flex: 3;
            font-family: $title-font;
            font-size: $large-font;
        }

        //.heartIcon {
        /*flex: 1;
            font-size: 20px;
            font-weight: 100;
            @extend %hearts_icon;*/

        .heart-move {
            border: none;
            background-color: inherit;
            position: relative;
            font-size: 1.5rem;
            height: fit-content;

            &_bottom {
                opacity: 1;
                transition: opacity 1s;
            }

            &:focus,
            &:hover,
            &:active {
                & .heartMove_bottom {
                    opacity: 0;
                }

                & .heartMove_top {
                    opacity: 1;
                }
            }

            &_top {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: opacity 2s;
            }

            .far {
                display: block;
            }

            .fas {
                display: block;
                background: -webkit-linear-gradient(#9356dc, #ff79da);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        //}
    }

    .restaurant_menu {
        @include start-flex(column);
        padding-left: 5%;
        position: relative;

        .restaurant_menu-section {
            width: 95%;

            .restaurant_menu-section-name {
                animation-duration: 0.65s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                opacity: 0;
                animation-name: dish;

                p {
                    font-size: $medium-thin-font;
                    font-weight: 200;
                    padding-top: 2%;
                    padding-bottom: 2%;
                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        position: relative;
                        width: 2rem;
                        border: 1.5px solid $tertiary-color;
                        margin-top: 0.5%;
                        transition: 0.5s;
                    }

                    &:hover:after {
                        width: 5rem;
                    }
                }
            }
        }

        .restaurant_menu-section-card {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0 10px 0px;
            background: white;
            margin-bottom: 10px;
            border-radius: 12px;
            height: 65px;
            width: 100%;
            overflow: hidden;
            position: relative;
            transition: 0.5s;
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            align-items: center;

            animation-duration: 0.65s;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            opacity: 0;
            animation-name: dish;

            i {
                position: absolute;
                z-index: 3;
                right: 0%;
                color: white;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-fill-mode: forwards;
                opacity: 0;
            }
            &:hover {
                padding-right: 12%;
            }
            &:hover i {
                animation-name: transform;
                opacity: 1;
            }

            &::before {
                content: "";
                position: absolute;
                left: 100%;
                width: 100%;
                height: 65px;
                background: $tertiary-color;
                transition: 0.5s;
                z-index: 2;
            }

            &:hover::before {
                left: 80%;
            }

            .menu_plate-name {
                padding: 10px 0 10px 0;
                margin-left: 15px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                grid-area: 1 / 1 / 3 / 2;
                position: relative;

                .dish-name {
                    font-weight: 400;
                }
                .dish-ingridients {
                    font-weight: 100;
                    font-size: 15px;
                }
            }

            .menu_plate-price {
                position: relative;
                grid-area: 1 / 2 / 3 / 3;
            }
        }

        #card-1 {
            animation-delay: 0s;
        }
        #card-2 {
            animation-delay: 0.05s;
        }
        #card-3 {
            animation-delay: 0.1s;
        }
        #card-4 {
            animation-delay: 0.15s;
        }
        #card-5 {
            animation-delay: 0.2s;
        }
        #card-6 {
            animation-delay: 0.25s;
        }
        #card-7 {
            animation-delay: 0.3s;
        }
        #card-8 {
            animation-delay: 0.35s;
        }
        #card-9 {
            animation-delay: 0.4s;
        }

        #card-10 {
            animation-delay: 0.45s;
        }
        #card-11 {
            animation-delay: 0.5s;
        }
        #card-12 {
            animation-delay: 0.55s;
        }

        #card-13 {
            animation-delay: 0.6s;
        }
    }
}

@include desktop {
    .restaurant_page {
        margin-left: 10%;
        width: 50%;
        //margin-top: -30vh;
        //margin-left: 7vh;

        //position: absolute;
        //z-index: 9;
    }
}

.menu-order_button {
    @include center-flex(column);
    padding-top: 30px;
    padding-bottom: 70px;
    animation-duration: 0.65s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: dish;
    button {
        @extend %pink-button;
    }
}

footer {
    @extend %footer-allpages;
}

//-------------------------------------
