/*Main page - Restaurant section wirh card design*/
.mainRestaurants {
    background: $light-grey;
    width: 100%;

    .mainRestaurants-title {
        margin: 20px 0 20px 20px ;
        padding-top: 20px;
        color: $dark-grey;
        font-size: $medium-font;
        font-weight: bold;
    }

    //"Restautrants" media query
    @include desktop {
        .mainRestaurants-title {
            margin-left: 45%;
        }
    }

    //Restaurant card design and position 
    .mainRestaurants_card {
        @include center-flex(column);

        .mainRestaurants_card-design {
            height: 220px;
            width: 90%;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            position: relative;
            transition: 0.5s;
        }

        //Media query for card design 
        @include desktop {
            .mainRestaurants_card-design {
                width: 40%;
                height: 350px;
            }
        }

        //Hover effect on shadow 
        .mainRestaurants_card-design:hover {
            box-shadow: 0 8px 16px 0 rgba(99, 99, 99, 0.4);
        }

        .mainRestaurants_card-design a:link {
            text-decoration: none;
        }

        .mainRestaurants_card-design a:visited {
            text-decoration: none;
        }

        img {
            top: 0;
            left: 0;
            height: 150px;
            width: 100%;
            object-fit: cover;
            position: relative;
            border-radius: 15px 15px 0 0;
        }

        //Media query for card design image
        @include desktop {
            img {
                height: 280px;
            }
        }

        //Green label "New" with animation on the restaurant card
        .card-label {
            top: 5%;
            left: 70%;
            position: absolute;
            z-index: 3;

            //Green label design
            button {
                width: 80px;
                height: 30px;
                border: none;
                border-radius: 5px;
                background-color: $tertiary-color;
                font-weight: bold;
                font-size: 14px;
                color: darken($color: $tertiary-color, $amount: 50);
                animation: bounce 1s ease infinite;
            }
        }

        .mainRestaurants_card-design-txt {
            @include flex(column);
            padding-left: 15px;
            padding-top: 5px;
            color: $dark-grey;
            overflow: hidden;

            //Heart Icon extend 
            @extend %heart_icon;

            //Heart Icon position on the card
            .heart-move {
                top: -40px;
                left: 85%;
                
            }

            //Media query for heart icon position on the card 
            @include desktop {
                .heart-move {
                    top: -35px;
                    left: 85%;
                }
            }

            //Restaurant card text 
            .card-restaurant-name {
                font-weight: bold;
                font-size: $small-bold;
            }

            .card-restaurant-place {
                font-weight: 200;
                font-size: $medium-thin-font;
            }
        }
    }

    //Media query for  restaurant cart
    @include desktop {
        .mainRestaurants_card {
            @include flex(row);
            column-gap: 3%;
            padding: 0 4.8% 0 4.8%;
        }
    }
}