//Footer - all pages
footer {
    //Footer design
    background-color: $dark-grey;
    color: white;
    padding: 20px 0 20px 20px;
    text-decoration: none;

    //Footer logo design
    .footer-logo {
        font-family: $title-font;
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
        &:hover {
            color: #e4cdff;
        }
    }

    //Footer list design with icons
    .footer-list {
        padding-top: 20px;
        i {
            font-size: 12px;
            padding-right: 7px;
        }
        li {
            list-style: none;
            color: inherit;
        }
        a {
            color: inherit;
            text-decoration: none;
            font-size: 14px;
            transition: 0.5s;
            &:hover {
                color: #e4cdff;
            }
        }
    }
}

//Footer - all pages -desktop
@include desktop {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: $dark-grey;
        color: white;
        padding: 0 10% 5% 15%;
        text-decoration: none;

        //Footer logo design
        .footer-logo {
            font-family: $title-font;
            font-size: 24px;
            text-decoration: none;
            margin-top: 22px;
            color: white;
            transition: 0.5s;
            &:hover {
                color: #e4cdff;
            }
        }

        //Footer list design with icons
        .footer-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 2;
            
            i {
                font-size: 16px;
                padding-right: 7px;
            }
            li {
                list-style: none;
                color: inherit;
            }
            a {
                color: inherit;
                text-decoration: none;
                font-size: 18px;
                transition: 0.5s;
                &:hover {
                    color: #e4cdff;
                }
            }
        }
    }
}