/*Heart animation*/
%heart_icon{
    .heart-move {
        border: none;
        background-color: inherit;
        position: relative;
        font-size: 1.5rem;
        height: fit-content;

        .heartMove_top {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: none;
            animation: fade-in 0.2s forwards;
            
        }

        &:focus,
        &:hover,
        &:active {
            & .heartMove_bottom {
                visibility: collapse;
                
            }

            & .heartMove_top {
                display: initial;
            }
        }

        //Contour heart
        .far {
            display: block;
            color: $dark-grey;
        }

        //Full heart
        .fas {
            display: block;
            background: -webkit-linear-gradient(#9356dc, #ff79da);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shake-animation 0.3s ease-in-out 0s 1;
            animation-fill-mode: both;
            transform-origin: 50% 50%;
        }
    }
}