/*Heart shaking*/
@keyframes shake-animation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1px);
    }
    50% {
        transform: translateX(-1px);
    }
    75% {
        transform: translateX(1px);
    }
    100% {
        transform: translateX(0);
    }
}
/*Checkmark ikon rotation on green price*/
@keyframes transform {
    100% {
        transform: translateX(-140%) rotate(360deg);
    }
}

/*Animation to hide the loader
        changes the visibility to hidden 
        by decriesing the size*/
@keyframes loader-hide {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

/*Animation to rotate the loader*/
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

/*Dish fall*/
@keyframes dish {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    30% {
        opacity: 0;
        transform: translateY(-90%);
    }
    60% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Green label on restaurant card for main page*/
@keyframes bounce {
    30% { transform: scale(1.1); }
    40%, 60% { transform: rotate(-2deg) scale(1.1); }
    50% { transform: rotate(2deg) scale(1.1); }
    70% { transform: rotate(0deg) scale(1.1); }
    100% { transform: scale(1); }
  }