//Flex
@mixin flex($direction) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
}

//Center flex
@mixin center-flex($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

//Start flex
@mixin start-flex($direction) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: $direction;
}

//Media query
@mixin desktop {
    @media (min-width: 800px) {
        @content;
    }
}
