// Project colors
$primary-color: #9356DC ;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

//Background colors
$light-grey: rgb(249, 249, 249);
$medium-grey: rgb(238, 238, 238);
$dark-grey: rgb(52, 52, 52);


